In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('character.powers.csv')

In [10]:
df[df.violence == 5]

,id,name,house,prominence,violence,diplomacy
4,ramsaybolton,Ramsay Bolton,bolton,4,5,1
5,roosebolton,Roose Bolton,bolton,3,5,2
9,balongreyjoy,Balon Greyjoy,greyjoy,3,5,1
11,nightsking,The Night's King,independent,5,5,5
12,melisandre,Melisandre,independent,4,5,5
13,jaqenhghar,Jaqen H'ghar,independent,4,5,4
14,aryastark,Arya Stark,independent,4,5,3
20,cerseilannister,Cersei Lannister,lannister,5,5,5
23,bronn,Bronn,lannister,3,5,1
24,qyburn,Qyburn,lannister,2,5,3
25,gregorclegane,Gregor Clegane,lannister,2,5,1
37,tyrionlannister,Tyrion Lannister,meereen,5,5,5
38,varys,Varys,meereen,5,5,5
39,greyworm,Grey Worm,meereen,4,5,1
43,walderfrey,Walder Frey,minor,2,5,1
50,jonsnow,Jon Snow,nightswatch,5,5,5
51,tormundgiantsbane,Tormund Giantsbane,nightswatch,4,5,3
57,wunwun,Wun Wun,nightswatch,1,5,1
59,brienneoftarth,Brienne of Tarth,stark,4,5,4
70,daenerystargaryen,Daenerys Targaryen,targaryen,5,5,5
71,daarionaharis,Daario Naharis,targaryen,4,5,3
73,moro,Moro,targaryen,3,5,2

In [11]:
df[df.diplomacy == 5]

,id,name,house,prominence,violence,diplomacy
0,petyrbaelish,Petyr Baelish,arryn,5,4,5
11,nightsking,The Night's King,independent,5,5,5
12,melisandre,Melisandre,independent,4,5,5
15,threeeyedraven,Three Eyed Raven,independent,3,3,5
18,izembaro,Izembaro,independent,2,1,5
20,cerseilannister,Cersei Lannister,lannister,5,5,5
21,jaimelannister,Jaime Lannister,lannister,4,3,5
28,shae,Shae,lannister,2,1,5
32,doranmartell,Doran Martell,martell,3,2,5
37,tyrionlannister,Tyrion Lannister,meereen,5,5,5
38,varys,Varys,meereen,5,5,5
41,highsparrow,The High Sparrow,minor,4,4,5
42,davosseaworth,Davos Seaworth,minor,4,3,5
48,razdalmoeraz,Razdal mo Eraz,minor,1,2,5
50,jonsnow,Jon Snow,nightswatch,5,5,5
60,branstark,Bran Stark,stark,4,2,5
70,daenerystargaryen,Daenerys Targaryen,targaryen,5,5,5
78,margaerytyrell,Margaery Tyrell,tyrell,4,3,5
80,olennatyrell,Olenna Tyrell,tyrell,4,1,5

In [5]:
df[df.prominence == 5]

,id,name,house,prominence,violence,diplomacy
0,petyrbaelish,Petyr Baelish,arryn,5,4,5
11,nightsking,The Night's King,independent,5,5,5
20,cerseilannister,Cersei Lannister,lannister,5,5,5
37,tyrionlannister,Tyrion Lannister,meereen,5,5,5
38,varys,Varys,meereen,5,5,5
50,jonsnow,Jon Snow,nightswatch,5,5,5
58,sansastark,Sansa Stark,stark,5,2,4
70,daenerystargaryen,Daenerys Targaryen,targaryen,5,5,5

In [6]:
df[df.prominence == 4]

,id,name,house,prominence,violence,diplomacy
4,ramsaybolton,Ramsay Bolton,bolton,4,5,1
7,theongreyjoy,Theon Greyjoy,greyjoy,4,2,3
12,melisandre,Melisandre,independent,4,5,5
13,jaqenhghar,Jaqen H'ghar,independent,4,5,4
14,aryastark,Arya Stark,independent,4,5,3
21,jaimelannister,Jaime Lannister,lannister,4,3,5
22,tommenbaratheon,Tommen Baratheon,lannister,4,2,2
30,ellariasand,Ellaria Sand,martell,4,4,4
39,greyworm,Grey Worm,meereen,4,5,1
41,highsparrow,The High Sparrow,minor,4,4,5
42,davosseaworth,Davos Seaworth,minor,4,3,5
51,tormundgiantsbane,Tormund Giantsbane,nightswatch,4,5,3
52,alliserthorne,Alliser Thorne,nightswatch,4,4,1
59,brienneoftarth,Brienne of Tarth,stark,4,5,4
60,branstark,Bran Stark,stark,4,2,5
71,daarionaharis,Daario Naharis,targaryen,4,5,3
72,jorahmormont,Jorah Mormont,targaryen,4,4,4
78,margaerytyrell,Margaery Tyrell,tyrell,4,3,5
79,samwelltarly,Samwell Tarly,tyrell,4,3,2
80,olennatyrell,Olenna Tyrell,tyrell,4,1,5

In [7]:
df[df.prominence == 3]

,id,name,house,prominence,violence,diplomacy
5,roosebolton,Roose Bolton,bolton,3,5,2
8,yaragreyjoy,Yara Greyjoy,greyjoy,3,4,2
9,balongreyjoy,Balon Greyjoy,greyjoy,3,5,1
15,threeeyedraven,Three Eyed Raven,independent,3,3,5
16,waif,The Waif,independent,3,3,2
23,bronn,Bronn,lannister,3,5,1
31,obarasand,Obara Sand,martell,3,4,2
32,doranmartell,Doran Martell,martell,3,2,5
33,nymeriasand,Nymeria Sand,martell,3,2,4
40,missandei,Missandei,meereen,3,1,4
53,eddisontollett,Eddison Tollett,nightswatch,3,4,3
54,olly,Olly,nightswatch,3,3,1
61,hodor,Hodor,stark,3,4,1
62,podrickpayne,Podrick Payne,stark,3,3,2
73,moro,Moro,targaryen,3,5,2
81,lorastyrell,Loras Tyrell,tyrell,3,3,4
82,gilly,Gilly,tyrell,3,1,2

In [8]:
df[df.prominence == 2]

,id,name,house,prominence,violence,diplomacy
1,yohnroyce,Yohn Royce,arryn,2,2,4
2,robinarryn,Robin Arryn,arryn,2,1,1
10,eurongreyjoy,Euron Greyjoy,greyjoy,2,3,1
17,thoros,Thoros,independent,2,4,4
18,izembaro,Izembaro,independent,2,1,5
24,qyburn,Qyburn,lannister,2,5,3
25,gregorclegane,Gregor Clegane,lannister,2,5,1
26,kevanlannister,Kevan Lannister,lannister,2,4,4
27,pycelle,Pycelle,lannister,2,2,3
28,shae,Shae,lannister,2,1,5
29,myrcellabaratheon,Myrcella Baratheon,lannister,2,1,3
34,areohotah,Areo Hotah,martell,2,4,3
35,tyenesand,Tyene Sand,martell,2,3,3
36,trystanemartell,Trystane Martell,martell,2,2,3
43,walderfrey,Walder Frey,minor,2,5,1
44,yezzanzoqaggaz,Yezzan zo Qaggaz,minor,2,4,3
45,lancel,Lancel,minor,2,4,2
46,unella,Unella,minor,2,4,1
55,bowenmarsh,Bowen Marsh,nightswatch,2,3,2
56,othellyarwyck,Othell Yarwyck,nightswatch,2,3,2
63,meerareed,Meera Reed,stark,2,4,2
64,osha,Osha,stark,2,4,1
65,bryndentully,Brynden Tully,stark,2,3,4
66,rickonstark,Rickon Stark,stark,2,2,2
74,rhalko,Rhalko,targaryen,2,4,3
75,forzo,Forzo,targaryen,2,4,3
76,ahko,Ahko,targaryen,2,4,2
83,randylltarly,Randyll Tarly,tyrell,2,4,2
84,macetyrell,Mace Tyrell,tyrell,2,1,1

In [9]:
df[df.prominence == 1]

,id,name,house,prominence,violence,diplomacy
3,marei,Marei,arryn,1,2,4
6,waldabolton,Walda Bolton,bolton,1,2,1
19,kinvara,Kinvara,independent,1,4,4
47,lotharfrey,Lothar Frey,minor,1,3,1
48,razdalmoeraz,Razdal mo Eraz,minor,1,2,5
49,walderrivers,Walder Rivers,minor,1,2,1
57,wunwun,Wun Wun,nightswatch,1,5,1
67,smalljonumber,Smalljon Umber,stark,1,2,3
68,haraldkarstark,Harald Karstark,stark,1,2,2
69,edmuretully,Edmure Tully,stark,1,1,1
77,qhono,Qhono,targaryen,1,4,2
85,dickontarly,Dickon Tarly,tyrell,1,2,2
86,melessatarly,Melessa Tarly,tyrell,1,1,2
87,tallatarly,Talla Tarly,tyrell,1,1,1